body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}


ul.menu {
  padding: 0 ;
  margin: 0;
}
ul.menu li {
  float: left;  /*メインメニューは横並びに*/
  width: 150px;
  height: 40px;
  background-color: rgba(255, 255, 255, .1);
  position: relative;  /*子要素の基準とするために指定*/
  list-style-type: none;
  box-sizing:border-box;
}
ul.menu li a {
  display: block;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
ul.menu li a:hover {
  background-color: #5169A8;
}
ul.menu li ul.sub {
  display: none;
  position: absolute;
  /*サブメニューを開いた際に、背後の要素の影響を受けないようにする*/
  padding: 0;
  margin: 0;
}
 
ul.menu li:hover ul.sub {
  display: block; 
}
 
ul.menu li ul.sub li:first-child{
  border-top: 1px solid #1C2973; /*最初の要素のみボーダートップを指定*/
}
ul.menu li ul.sub li {
  border: 1px solid #1C2973;  /*ボーダーの指定*/
  border-top: none;  /*ボーダートップは重なって太くなるので解除*/
}
ul.menu {
 zoom:1; /*Clearfix IE6-7 対応*/
}
ul.menu:after { /*Clearfix*/
  height:0;
  visibility:hidden;
  content:".";
  display:block;
  clear:both;
}