body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .80rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  height:100%;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}


/* 素材管理 */

.titleinfo {
	height:330px;
	margin-top:0.25em;
  /* background-color: #EEEEEE; */
}


.infomation {
	/* background-color:pink; */
	/* height:150px; */
}

.tab-area {
	/* overflow-x:scroll; */
	/* overflow-y:hidden; */
	/* flex-wrap: nowrap; */
}

.tab-menu {
	overflow-x:scroll;
	overflow-y:hidden;
	flex-wrap: nowrap;
}

.title {
	color:#000;
	font-size:2.5em;
  font-weight: bold;
}

.season-title {
color:#000;
font-size:2.5em;
}


.dd_link:hover {
  background-color:#343a40;
}

/* チェックメニュー */
#panel {
  background: #2d3d2d;
  bottom: 0;
  padding: 10px;
  position: fixed;
  right: 0;
  top: 0;
  width: 280px;
}

#panel p {
  color: #dfdfdf;
  margin: 10px;
  font-size:10pt;
}

/* 
 * Core styles required for the checkboxes.
 * @author Jason Mayes 2014, www.jasonmayes.com
*/
.wskLabel {
  cursor: pointer;
  font-size: 12pt;
  display: block;
  overflow: hidden;
  padding-top: 20px;
  position: relative;
  min-height:40px;
}

.wskCheckbox {
  border: 2px solid #5a5a5a;
  color: #1d1d1d;
  cursor: pointer;
  display: inline-block;
  float: left;
  height: 14px;
  margin: 0 20px 20px 20px;
  outline-color: #eaeaea;
  padding: 0;
  position:relative;
  width: 14px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  z-index:1;
}

.wskCheckbox.checked {
  border-left: 2px solid green;
  border-bottom: 4px solid green;
  border-top: 1px solid rgba(0,0,0,0);
  border-right: 1px solid rgba(0,0,0,0);
  -webkit-transform: rotate(-45deg) scaleY(0.5);
  -moz-transform: rotate(-45deg) scaleY(0.5);
  -ms-transform: rotate(-45deg) scaleY(0.5);
  -o-transform: rotate(-45deg) scaleY(0.5);
  transform: rotate(-45deg) scaleY(0.5);
}

input[type='checkbox'].wskCheckbox {
   display: none;
}

.wskCircle {
  background-color:#ccdffd;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: block;
  height: 40px;
  left: 9px;
  opacity: 0;
  position: absolute;
  top: 9px;
  -webkit-transition: all 0.15s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.15s ease-in-out;
  width: 40px;
  z-index:0;
}

.wskCircle.show {
  opacity: 1;
}

.wskCircle.flipColor {
  background-color: #d2d3d2;
}